*{margin: 0; padding: 0; border: none; text-decoration: none; list-style: none; color: #fff;}

/*HEADER*/
header{background: #020d13; height: 50px; display: flex; justify-content: space-between; align-items: center; padding: 5px 10px 5px 15px;}
.links-login{display: flex; align-items: center;}
.header-links{display: flex;}
.header-links li{margin-left: 5px; padding: 2px;}
.header-login-box{width: 80px; height: 40px; display: flex; justify-content: center; margin: 2px 0 2px 20px;}
.header-login-box a{background: var(--btn-green); padding: 10px 15px 10px 15px; border-radius: 50px;}
.header-login-box a:hover{background: var(--btn-green-hover);}
.header-login-box a:active{background: var(--btn-green-active);}

/*menu mobile*/
#menu-mobile{display: none;}
#btn-mobile{background: red; background: transparent; height: 35px; display: flex; flex-direction: column; justify-content: space-around; cursor: pointer;}
#line{border-top: 5px solid #ffffff; width: 35px; border-radius: 5px;}
@media(max-width: 500px){
  .links-login{display: none;}
  #menu-mobile{display: block;}
  #header-links-box.active .links-login{display: flex; background: rgba(7, 17, 26, 85%); width: 100%; position: absolute; right: 0; top: 60px; flex-direction: column; justify-content: center; text-align: center; padding: 50px 0 50px 0; border-bottom: 1px solid #000;}
  #header-links-box.active .header-links{flex-direction: column;}
  #header-links-box.active .header-links li{margin: 10px 0 10px 0;}
  #header-links-box.active .header-login-box{margin: 20px;}
  
  #menu-mobile.active #btn-mobile{width: 35px; height: 35px; position: absolute; right: 10px; top: 13px;}
  #menu-mobile.active #line{position: absolute;}
  #menu-mobile.active #line:nth-child(1){transform: rotate(45deg);}
  #menu-mobile.active #line:nth-child(2){transform: rotate(135deg);}
  #menu-mobile.active #line:nth-child(3){display: none;}
}
